<?php
  header("x-xss-protection: 0");
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv=content-security-policy content="object-src 'none'; script-src 'nonce-random' 'strict-dynamic' https: http:">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>I'm vulnerable</title>
    <!-- angular lib -->
      <!-- <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script> -->
      /<script nonce="random" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>          <!-- nonce attribute is only used for inline scripts and styles -->
    <!-- angular lib -->
</head>
<body >
<?php echo $_GET['inj']; ?>
  <!-- <input type="text" ng-model="rt"/>
   <p ng-bind="rt"></p> -->

   <!--including the modules,controllers & ... -->
   <!-- <script type="text/javascript" src="./JS/app.js"></script> -->
</body>
</html>